<a href="https://colab.research.google.com/github/gabbypaola/COOP/blob/main/COOP_Race_Data_2017_2018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import csv
import seaborn as sns
import matplotlib.pyplot as plt

#connect notebook to google drive to access CSV files
from google.colab import drive
drive.mount('/content/drive/')

#authenticate, needed for loading google sheets into the notebook
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

#2017 Data

In [ ]:
race_2017 = gc.open('RACE2017').sheet1

# get_all_values gives a list of rows.
rows9 = race_2017.get_all_values()
#print(rows)

race_data = pd.DataFrame.from_records(rows9)


new_header = race_data.iloc[1] #grab the first row for the header
race_data = race_data[2:] #take the data less the header row
race_data.columns = new_header #set the header row as the df header

filter = ['Label','Percent']

race_data = race_data[race_data.columns[race_data.columns.isin(filter)]]

new_header = race_data.iloc[0] #grab the first row for the header
race_data = race_data[1:] #take the data less the header row
race_data.columns = new_header #set the header row as the df header

In [ ]:
column_names = []
for i in race_data.columns[1:]:
  column_names.append(i[6:11])

original_col_names = list(race_data.columns[1:])

col_names_dict = {original_col_names[i]: column_names[i] for i in range(len(original_col_names))}

race_data= race_data.rename(columns=col_names_dict)

race17 = race_data.loc[[3,4,38,39,41,46]]

race17 = race17.melt(id_vars=["Label (Grouping)"], 
        var_name="Zip Code", 
        value_name="Percent")

race17 = race17.rename(columns = {'Label (Grouping)':'Demographic'})

In [ ]:
race17['Year'] = 2017

In [ ]:
race17['Year']=race17['Year'].astype(str).astype(int)

In [ ]:
# 19,310,616 rows of data
race17

                               Demographic Zip Code Percent  Year
0                                     Male    06390   58.3%  2017
1                                   Female    06390   41.7%  2017
2                                    White    06390   97.0%  2017
3                Black or African American    06390    1.7%  2017
4                                    Asian    06390    0.0%  2017
...                                    ...      ...     ...   ...
19310611                            Female    14905   52.3%  2017
19310612                             White    14905   94.1%  2017
19310613         Black or African American    14905    5.2%  2017
19310614                             Asian    14905    0.5%  2017
19310615  Hispanic or Latino (of any race)    14905    2.2%  2017

[19310616 rows x 4 columns]

In [ ]:
race17['Zip Code']=race17['Zip Code'].astype(str).astype(int)

#2018 Data

In [ ]:
race_2018 = gc.open('RACE2018').sheet1

# get_all_values gives a list of rows.
rows9 = race_2018.get_all_values()
#print(rows)

race_data2 = pd.DataFrame.from_records(rows9)


#new_header = race_data2.iloc[0] #grab the first row for the header
#race_data2 = race_data2[1:] #take the data less the header row
#race_data2.columns = new_header #set the header row as the df header

#filter = ['Label','Percent']

#race_data2 = race_data2[race_data2.columns[race_data2.columns.isin(filter)]]

#new_header = race_data2.iloc[0] #grab the first row for the header
#race_data2 = race_data2[1:] #take the data less the header row
#race_data2.columns = new_header #set the header row as the df header

race_data2.head()

,0,1,2,3,4,5,6,7,8,9,...,7167,7168,7169,7170,7171,7172,7173,7174,7175,7176
0,,ZCTA5 06390,,,,ZCTA5 10001,,,,ZCTA5 10002,...,,,ZCTA5 14904,,,,ZCTA5 14905,,,
1,Label,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,...,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error
2,Male,110,±77,60.1%,±8.6,"11,671",±874,50.9%,±2.5,"36,230",...,51.8%,±2.4,"7,440",±448,48.1%,±2.0,"4,008",±348,46.6%,±2.0
3,Female,73,±44,39.9%,±8.6,"11,253",±775,49.1%,±2.5,"38,763",...,48.2%,±2.4,"8,040",±404,51.9%,±2.0,"4,585",±293,53.4%,±2.0
4,RACE,,,,,,,,,,...,,,,,,,,,,

In [ ]:
col_list = race_data2.iloc[0]

In [ ]:
col_list[3::4]=col_list[1::4]

In [ ]:
race_data2.iloc[0] = col_list

In [ ]:
race_data2.iloc[0]

0
1       ZCTA5 06390
2
3       ZCTA5 06390
4
           ...
7172
7173    ZCTA5 14905
7174
7175    ZCTA5 14905
7176
Name: 0, Length: 7177, dtype: object

In [ ]:
race_data2

,0,1,2,3,4,5,6,7,8,9,...,7167,7168,7169,7170,7171,7172,7173,7174,7175,7176
0,,ZCTA5 06390,,ZCTA5 06390,,ZCTA5 10001,,ZCTA5 10001,,ZCTA5 10002,...,ZCTA5 14903,,ZCTA5 14904,,ZCTA5 14904,,ZCTA5 14905,,ZCTA5 14905,
1,Label,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,...,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error
2,Male,110,±77,60.1%,±8.6,"11,671",±874,50.9%,±2.5,"36,230",...,51.8%,±2.4,"7,440",±448,48.1%,±2.0,"4,008",±348,46.6%,±2.0
3,Female,73,±44,39.9%,±8.6,"11,253",±775,49.1%,±2.5,"38,763",...,48.2%,±2.4,"8,040",±404,51.9%,±2.0,"4,585",±293,53.4%,±2.0
4,RACE,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Some other race alone,0,±12,0.0%,±16.2,111,±119,0.5%,±0.5,166,...,0.0%,±0.4,48,±70,0.3%,±0.4,0,±17,0.0%,±0.4
57,Two or more races,4,±9,2.2%,±4.6,309,±133,1.3%,±0.6,"1,516",...,1.9%,±1.3,762,±285,4.9%,±1.8,88,±60,1.0%,±0.7
58,Two races including Some other race,4,±9,2.2%,±4.6,16,±14,0.1%,±0.1,88,...,0.0%,±0.4,17,±20,0.1%,±0.1,0,±17,0.0%,±0.4
59,"Two races excluding Some other race, and Three...",0,±12,0.0%,±16.2,293,±133,1.3%,±0.6,"1,428",...,1.9%,±1.3,745,±286,4.8%,±1.8,88,±60,1.0%,±0.7
60,Total housing units,758,±98,(X),(X),"14,141",±539,(X),(X),"35,724",...,(X),(X),"7,352",±232,(X),(X),"4,408",±215,(X),(X)

In [ ]:
new_header = race_data2.iloc[1] #grab the first row for the header
race_data2 = race_data2[0:] #take the data less the header row
race_data2.columns = new_header #set the header row as the df header

race_data2.head()

1,Label,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,...,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error
0,,ZCTA5 06390,,ZCTA5 06390,,ZCTA5 10001,,ZCTA5 10001,,ZCTA5 10002,...,ZCTA5 14903,,ZCTA5 14904,,ZCTA5 14904,,ZCTA5 14905,,ZCTA5 14905,
1,Label,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,...,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error
2,Male,110,±77,60.1%,±8.6,"11,671",±874,50.9%,±2.5,"36,230",...,51.8%,±2.4,"7,440",±448,48.1%,±2.0,"4,008",±348,46.6%,±2.0
3,Female,73,±44,39.9%,±8.6,"11,253",±775,49.1%,±2.5,"38,763",...,48.2%,±2.4,"8,040",±404,51.9%,±2.0,"4,585",±293,53.4%,±2.0
4,RACE,,,,,,,,,,...,,,,,,,,,,

In [ ]:
race_data2 = race_data2.drop(1)

In [ ]:
filter = ['Label','Percent']
race_data2 = race_data2[race_data2.columns[race_data2.columns.isin(filter)]]

In [ ]:
new_header = race_data2.iloc[0] #grab the first row for the header
race_data2 = race_data2[1:] #take the data less the header row
race_data2.columns = new_header #set the header row as the df header

In [ ]:
# 3,218,437 rows
race_data2.head()

,,ZCTA5 06390,ZCTA5 10001,ZCTA5 10002,ZCTA5 10003,ZCTA5 10004,ZCTA5 10005,ZCTA5 10006,ZCTA5 10007,ZCTA5 10009,...,ZCTA5 14892,ZCTA5 14893,ZCTA5 14894,ZCTA5 14895,ZCTA5 14897,ZCTA5 14898,ZCTA5 14901,ZCTA5 14903,ZCTA5 14904,ZCTA5 14905
2,Male,60.1%,50.9%,48.3%,50.3%,41.8%,45.3%,47.3%,58.6%,45.8%,...,48.7%,-,51.1%,47.7%,48.8%,49.4%,52.6%,51.8%,48.1%,46.6%
3,Female,39.9%,49.1%,51.7%,49.7%,58.2%,54.7%,52.7%,41.4%,54.2%,...,51.3%,-,48.9%,52.3%,51.2%,50.6%,47.4%,48.2%,51.9%,53.4%
4,RACE,,,,,,,,,,...,,,,,,,,,,
5,Total population,183,"22,924","74,993","54,682","3,028","8,831","3,454","7,023","57,925",...,"8,084",0,"1,253","9,354",811,"1,950","15,965","7,584","15,480","8,593"
6,One race,97.8%,97.4%,96.1%,97.7%,96.8%,95.2%,94.6%,95.7%,96.4%,...,98.3%,-,97.9%,99.4%,100.0%,98.7%,94.2%,98.1%,94.0%,98.8%

In [ ]:
column_names = []
for i in race_data2.columns[1:]:
  column_names.append(i[6:11])

original_col_names = list(race_data2.columns[1:])

col_names_dict = {original_col_names[i]: column_names[i] for i in range(len(original_col_names))}

race_data2= race_data2.rename(columns=col_names_dict)

In [ ]:
race_data2.columns

Index(['', '06390', '10001', '10002', '10003', '10004', '10005', '10006',
       '10007', '10009',
       ...
       '14892', '14893', '14894', '14895', '14897', '14898', '14901', '14903',
       '14904', '14905'],
      dtype='object', name=0, length=3218437)

In [ ]:
race18 = race_data2.loc[[2,3,37,38,40,45]]
race18 = race18.melt(id_vars=[''], 
        var_name="Zip Code", 
        value_name="Percent")
race18 = race18.rename(columns = {'':'Demographic'})

In [ ]:
race18['Year'] = 2018

In [ ]:
race18['Zip Code']=race18['Zip Code'].astype(str).astype(int)

#Merge with Eviction Zip Codes

2017

In [ ]:
#load the original data set
zip_codes =pd.read_csv("/content/drive/My Drive/COOP/Data Analytics/Project 1/ZipCodes.csv")

In [ ]:
zip_codes['Zip Code'] =zip_codes['Zip Code'].astype(str).astype(int)

In [ ]:
demo_2017 = pd.merge(zip_codes, race17, how= 'inner', on = 'Zip Code')
demo_2017 = demo_2017.drop_duplicates()

In [ ]:
demo_2017

         Zip Code                       Demographic Percent  Year
0           10001                              Male   50.6%  2017
1           10001                            Female   49.4%  2017
2           10001                             White   64.3%  2017
3           10001         Black or African American   11.4%  2017
4           10001                             Asian   22.8%  2017
...           ...                               ...     ...   ...
5769505     11424                            Female       -  2017
5769506     11424                             White       -  2017
5769507     11424         Black or African American       -  2017
5769508     11424                             Asian       -  2017
5769509     11424  Hispanic or Latino (of any race)       -  2017

[1092 rows x 4 columns]

2018

In [ ]:
demo_2018 = pd.merge(zip_codes, race18, how= 'inner', on = 'Zip Code')
demo_2018 = demo_2018.drop_duplicates()

In [ ]:
demo_2018

         Zip Code                       Demographic Percent  Year
0           10001                              Male   50.9%  2018
1           10001                            Female   49.1%  2018
2           10001                             White   65.2%  2018
3           10001         Black or African American    7.4%  2018
4           10001                             Asian   26.4%  2018
...           ...                               ...     ...   ...
5769505     11424                            Female       -  2018
5769506     11424                             White       -  2018
5769507     11424         Black or African American       -  2018
5769508     11424                             Asian       -  2018
5769509     11424  Hispanic or Latino (of any race)       -  2018

[1092 rows x 4 columns]

2017 & 2018

In [ ]:
demo1718 = pd.concat([demo_2017, demo_2018], axis=0)

In [ ]:
demo1718.to_csv('/content/drive/My Drive/COOP/Data Analytics/Project 1/demo1718.csv', index=False)